@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;

  /* color */
  --brand-color: #111827;
  --dark-text-color: #2d3748;
  --light-text-color: #4b5563;
  --lighter-text-color: #ffffff;
  --main-border-color: #dfdfdf;
  --light-border-color: #e5e7eb;
  --background-color: #ffffff;
  --dark-bg-color: #f3f4f6;
  --switch-bg-color: #9ca3af;
  --menu-dropdown-bg-color: #ffffff;
  --menu-dropdown-text-color: #111827;
  --checkout-bg-color: #ffffff;
  --bottom-nav-bg-color: #ffffff;
  --bottom-nav-icon-color: #8c969f;
  --header-text-color: #111827;
  --header-bg-scroll-color: #ffffff;
  --header-text-scroll-color: #111827;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
